<%= form_with(model: unidade, local: true) do |form| %>
  <% if unidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unidade.errors.count, "error") %> prohibited this unidade from being saved:</h2>

      <ul>
      <% unidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :unidade_nome %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :unidade_lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :unidade_long %>
  </div>

  <div class="field">
    <%= form.label :totalCarros %>
    <%= form.number_field :totalCarros, id: :unidade_totalCarros %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
