<p id="notice"><%= notice %></p>

<h1>Carros</h1>

<table>
  <thead>
    <tr>
      <th>Patio</th>
      <th>Fabricante</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Anomodelo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carros.each do |carro| %>
      <tr>
        <td><%= carro.patio %></td>
        <td><%= carro.fabricante %></td>
        <td><%= carro.modelo %></td>
        <td><%= carro.ano %></td>
        <td><%= carro.anoModelo %></td>
        <td><%= link_to 'Show', [@unidade, @patio, carro] %></td>
        <td><%= link_to 'Edit', edit_unidade_patio_carro_path(@unidade, @patio, carro) %></td>
        <td><%= link_to 'Destroy', [@unidade, @patio, carro], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carro', new_unidade_patio_carro_path(@unidade, @patio) %>
