<p id="notice"><%= notice %></p>

<p>
  <strong>Unidade:</strong>
  <%= @patio.unidade %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @patio.nome %>
</p>

<%= link_to 'Edit', edit_unidade_patio_path(@unidade, @patio) %> |
<%= link_to 'Back', :back %>
